<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= songname %></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="jquery.cookie.js"></script>
<script src="substitution.js"></script>
<script src="<%= songname %>.js"></script>
<script>
globaltaskname = "<%= songname %>"
</script>
<script src="keypresstochar.js"></script>
<script src="index.js"></script>

<span id="progressIndicator"></span>
<button style="float: right" type="button" class="btn btn-default" onclick="window.location = 'skilltree.html'"><span class="glyphicon glyphicon-remove"></span> Leave</button>
<div class="btn-group" style="float: right">
<button style="float: right" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span> Go to Exercise</button>
<ul class="dropdown-menu pull-right" role="menu" id="goto_exercise">
<li><a href="#">Action</a></li>
<li><a href="#">Another Action</a></li>
</ul>
</div>
<button style="float: right" type="button" class="btn btn-default" onclick="playNotesInOrder()"><span class="glyphicon glyphicon-play"></span> Playback Exercise</button>


<br/><br/>
<span id="textDisplay_entered" style="color: lightgrey; font-size: x-large; font-family: sans-serif"></span>
<span id="textDisplay_todo" style="font-size: x-large; font-family: sans-serif"></span>

<br/>

<div id="textInputWrapper">
<textarea id="textInput" lang="en" autocorrect="on" autocapitalize="off" spellcheck="true" type="text" style="width: 100%; font-size: x-large; font-family: sans-serif"></textarea>
</div>

<div id="lineTimes"></div>
<!--<button onClick="sendLogs()">Send Logs</button>
<a href="" id="logLink" style="display: none">Link to Logs</a> -->

<div id="keyboard">
</div>
<div id="notes">
</div>
<!--<img src="dvorak.png" />-->
</body>
</html>

