<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= songname %></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="jquery.cookie.js"></script>
<script src="substitution.js"></script>

<script>
corpus = ''
corpus_lines = []
curriculum = {}

function setCurriculum(newcurriculum) {
  curriculum = newcurriculum
  for (var i = 0; i < newcurriculum.length; ++i) {
    var goal = newcurriculum[i]
    for (var j = 0; j < goal.exercises.length; ++j) {
      corpus_lines.push(goal.exercises[j])
    }
  }
  corpus = corpus_lines.join('\n')
}
</script>
<script src="<%= songname %>.js"></script>
<script>
if (corpus_lines.length == 0) {
  corpus_lines = corpus.split('\n')
}
</script>
<script>
globaltaskname = "<%= songname %>"
</script>
<script src="keypresstochar.js"></script>
<script src="index.js"></script>

<!--<div id="progressIndicator" style="float: left"></div>-->

<!-- another version - flat style with animated hover effect -->
<div id="progressIndicator" class="breadcrumbN flatN">
<!--
  <span class="active">Browse</span>
  <span href="#">Compare</span>
  <span href="#">Order Confirmation</span>
  <span href="#">Checkout</span>
-->
</div>


<!--
<button style="float: right; top: 0" type="button" class="btn btn-danger" onclick="window.location = 'skilltree.html'"><span class="glyphicon glyphicon-remove"></span> Quit</button>-->

<!--
<div class="btn-group" style="float: right; top: 0">
<button style="float: right; top: 0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span> Go to Exercise</button>
<ul class="dropdown-menu pull-right" role="menu" id="goto_exercise">
<li><a href="#">Action</a></li>
<li><a href="#">Another Action</a></li>
</ul>
</div>-->


<br/><br/>

<span id="textDisplay_entered" style="cursor: default; color: lightgrey; font-size: x-large; font-family: sans-serif"></span>
<span id="textDisplay_todo" style="cursor: default; font-size: x-large; font-family: sans-serif"></span>
<button style="display: inline-block" type="button" class="btn btn-success btn-xs" onclick="playNotesInOrder()"><span class="glyphicon glyphicon-play"></span> Play</button>

<br/>

<div id="textInputWrapper">
<textarea id="textInput" lang="en" autocorrect="on" autocapitalize="off" spellcheck="true" type="text" style="width: 100%; font-size: x-large; font-family: sans-serif"></textarea>
</div>

<div id="lineTimes"></div>
<!--<button onClick="sendLogs()">Send Logs</button>
<a href="" id="logLink" style="display: none">Link to Logs</a> -->

<div id="keyboard">
</div>
<div id="notes">
</div>
<!--<img src="dvorak.png" />-->
</body>

<script src="prefixfree-1.0.7.js"></script>

</html>

